**Mounting Google Drive.**

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [2]:
with open('/gdrive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat '/gdrive/My Drive/foo.txt'

Hello Google Drive!

**Importing the Libraries**

In [0]:
import numpy as np
import pandas as pd
pd.set_option('display.max_colwidth', -1)

INPUT:
    A csv file containing rows and columns consisting of values in it.

OUTPUT:
    A csv file containing with column 'a' length of the word, column 'b' as count of that length of word for length of words matches 3,4,5,6.

In [241]:
df=pd.read_csv('/gdrive/My Drive/Colab Notebooks/pytest.csv')
df.head()

,a,b
0,1,"Air India, too, decided to reduce frequency of flights. “Till March 31, our Delhi-Tokyo flight will fly four times a week, instead of five; Delhi-Seoul and Delhi-Milan will fly twice a week, instead of four, and Delhi-Rome will operate twice a week. Till May-end, daily flights Mumbai-Singapore-Delhi and Delhi-Bangkok-Mumbai will operate four and three times a week, respectively,” an AI spokesperson said."
1,2,"According to an order by the National Company Law Tribunal, the CoC had to complete the entire process by January 10 but it sought extension in deadline. The resolution professional, Deloitte, is expected to file resolution plan with the NCLT Mumbai on March 5.\n\nRCom in the past had tried to sell assets to various companies, including Reliance Jio, to clear debt but the deals did not materialise. Reliance Jio cancelled agreement to buy RCom assets, including spectrum, as it did not want \n"

**SUMMARY**

1. Used numpy pandas libraries to import and to read the csv file. 
2. Expanded the column width to maximum to display all the values in the columns.
3. Read the csv file using pandas

In [242]:
import re
result1=[]
for k in df['b']:
    str_no_splchar=re.sub(r"[^a-zA-Z0-9]+", ' ', k)
    li_of_words=str_no_splchar.split()
    out1=[]
    three=0
    four=0
    five=0
    six=0
    out2=[]
    for i in li_of_words:
      out1+=[len(i)]
    for j in out1:
      if j==3:
        three+=1
      elif j==4:
        four+=1
      elif j==5:
        five+=1
      elif j==6:
        six+=1
    out2.extend([three,four,five,six])
    result1.append(out2)
arr=np.array(result1)
li_of_li=list(np.sum(arr,0))
result2={'a':[3,4,5,6],'b':li_of_li}
df1=pd.DataFrame(result2)
df1.to_csv(r'/gdrive/My Drive/Colab Notebooks/solution1.csv',index=False)

<class 'str'>
<class 'str'>

**SUMMARY**

1. Read the value of Column b one after the other and manipulate
2. Convert the value into strings by removing special characters
3. Initialize four variables(ie: three, four, five, six) for taking the count of words in the string respective to the name of the variable
4. Add the resulting lists using numpy
5. Create a dataframe with two columns as specified
6. Export dataframe to a csv file in the desired location

INPUT:
    A csv file containing rows and columns consisting of values in it.

OUTPUT:
    A csv file containing number of occurrences of each alphabet with column 'a' the alphabet and column 'b' count.

In [0]:
pd.set_option('display.max_colwidth', -1)
str1=df['b'].to_string()
str1.replace(r'\n','')
str2=''.join(e for e in str1 if e.isalpha()).lower()
str3=dict((letter,str2.count(letter)) for letter in set(str2))
df1=pd.DataFrame(list(str3.items()),columns=['alphabet','count'])
df2=df1.sort_values(by='alphabet',axis=0,ascending=True)
df2.reset_index(drop=True, inplace=True)
df2.to_csv(r'/gdrive/My Drive/Colab Notebooks/solution2.csv',index=False)

**SUMMARY**
1. Used numpy pandas libraries to import and to read the csv file. 
2. Expanded the column width to maximum to display all the values in the columns.
3. Read the csv file using pandas
4. Convert the column value to string
5. Remove the characters other than alphabets and convert to lowercase for manipulation
6. Count the occurences of each alphabet and store it as key and value pairs
7. Convert it into dataframe with two columns alphabet and count
8. Sort the column values according to alphabet
9. Export dataframe to csv file in the desired location